@import '../App.scss';
.addkpi-form {
  padding-right: 15px;
  padding-left: 15px;
  border: solid transparent 1px;
  input {
    color: $primary-color;
    background-color: $secondary-color;
    border-radius: 0px;
    border: 2px solid $primary-color !important;
    margin-left: 10px;
    margin-top: 5px;
    padding: 15px;
    height: 30px;
    width: 75%;
    &:focus {
      outline: 0 !important;
    }
  }
  h3 {
    color: $primary-color;
    font-family: 'Amatic SC';
    font-size: 35px;
  }
  .btn {
    padding: 0px 30px;
    font-size: 23px;
  }
}
.btn {
  font-family: 'Abel';
  font-size: 15px;
  color: $primary-color;
  background-color: $secondary-color;
  border: solid $primary-color 2px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 6px 24px;
  &:hover {
    background-color: $primary-color;
    color: $secondary-color;
    font-weight: bold;
    border-color: $primary-color;
  }
  &:focus {
    outline: 0 !important;
    background-color: $primary-color;
    color: $secondary-color;
    font-weight: bold;
  }
}

.list-div {
  width: 100%;
  margin-outside: 5px;
  border: solid transparent 1px;
}

.list-div-edit {
  margin-outside: 5px;
  margin-inside: 10px;
  border: solid $primary-color 1px;
}

.edit-text {
  margin-top: 20px;
  margin-bottom: 10px;
}

.edit-true {
  color: $primary-color;
}

.task {
  ul {
    width: 80%;
  }
  li {
    width: 100%;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    &:hover:not(.disabled) {
      background-color: rgba($primary-color, 0.4);
    }
    h4 {
      font-family: 'Abel';
    }
  }
}

.not-completed-task-li {
  border: 2px solid $primary-color;
}

.task-complete-li {
  animation: complete-task 1s linear;
}

@keyframes complete-task {
  from {
    background-color: inherit;
  }
  to {
    background-color: rgba($primary-color, 0.2);
  }
}

.task-completed-li {
  background-color: rgba($primary-color, 0.2);
  text-decoration: line-through;
}

.kpi-title {
  font-family: 'Amatic SC';
  font-size: 35px;
  right: 10%;
  padding-right: 20px;
  padding-left: 20px;
}
.normal-txt {
  font-family: 'Abel';
}
.special-title {
  font-family: 'Abril Fatface';
  font-size: 30px;
}
