@import '../App.scss';

.link-list {
  margin-left: 20px;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
}

.link-item {
  border-bottom: solid $primary-color 2px;
  padding: 10px;
  h3 {
    font-family: 'Abel';
  }
  &:hover {
    animation: itemHover 1s ease forwards;
    cursor: pointer;
    color: $primary-color;
  }
}

.link-item-active {
  color: $primary-color;
}

@keyframes itemHover {
  from {
    box-shadow: 1px 7px 5px 3px transparent;
  }
  to {
    box-shadow: 1px 7px 5px 3px $primary-color;
  }
}

.article-item {
  display: flex;
}

.article-title:any-link {
  color: black;
}

.article-title:hover {
  color: $primary-color;
}

.article-writer {
  color: darkgrey;
}

.list-container {
  align-content: center;
  h1 {
    font-family: 'Abril Fatface';
  }
}
