.link-list{
    margin-left: 20px;
    border-radius: 10px;
    width: 300px;
    padding: 20px;

}

.link-item{
     border-bottom: solid #4ECDC4 2px;
    padding:10px;

 }
.link-item:hover{
    animation: linkItenAnimation 1s ease forwards;
    cursor: pointer;
    color:#4ECDC4;

}


@keyframes linkItenAnimation {
    from {
        box-shadow: 1px 7px 5px 3px transparent;
    }
    to{
        box-shadow: 1px 7px 5px 3px #4ECDC4;
    }
}

.article-item{
    display: flex;

}
.article-title:any-link{
    color: black;
}
.article-title:hover{
    color: #4ECDC4;
}
.article-writer{
    color: darkgrey;
}

