@import '../../App.scss';
.carousel-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  div:not([class]) {
    width: 100%;
  }
}

.carousel-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-style {
  font-size: 4em;
  color: $primary-color;
  align-self: center;
}
.todeletelater {
  min-width: 400px;
}
