.carousel-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
.carousel-row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.icon-style{
    font-size: 4em;
    color: #4ecdc4;
    align-self: center;
}
.container{
    margin-top: 100px;
    align-items: center;
}
