@import '../../App.scss';

$right-distance: 40px;

a:any-link {
  color: $secondary-color;
  text-decoration: none;
  font-family: 'Abel';
  font-size: 25px;
}
ul {
  text-align: center;
  margin: auto;
  padding: 0px;
}

.app-brand {
  padding-right: $right-distance;
  &:hover {
    .app-brand-text {
      animation: appBrandHover 2s ease forwards;
    }
  }
}
.app-brand-text {
  list-style-type: none;
  font-weight: bold;
  font-size: 30px !important;
}
@keyframes appBrandHover {
  0% {
    font-size: 30px;
  }
  50% {
    font-size: 40px;
  }
  100% {
    font-size: 30px;
  }
}

.app-nav-bar-item {
  height: 50px;
  margin-right: $right-distance;
  list-style-type: none;
  text-align: center;
  &:hover {
    border-bottom: solid $primary-color 5px;
    animation: navAnimation 1s ease forwards;
  }
}
.item-active {
  height: 50px;
  margin-right: $right-distance;
  list-style-type: none;
  text-align: center;
  border-bottom: solid $secondary-color 5px;
}

.navbar-header {
  font-size: 30px;
  font-weight: bold;
  margin: -12px;
}

.navbar-nav {
  font-size: 20px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

@keyframes navAnimation {
  from {
    border-bottom: solid $primary-color 5px;
  }
  to {
    border-bottom: solid $secondary-color 5px;
  }
}

.app-logo {
  height: 100px;
}
.logo-div {
  background-color: inherit;
  list-style-type: none;
}

.app-logo-hover {
  animation: app-logo-spin infinite 3s linear;
  height: 100px;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.selected {
  background-color: red;
}
