@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope');
@import url('https://fonts.googleapis.com/css?family=Kite+One');
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Amatic+SC|Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Poiret+One');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  text-align: center;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  align-content: center;
  cursor: default;
}

.bold {
  font-weight: bold;
}
.small-txt {
  font-size: 15px;
}
